<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link reL="stylesheet" hreF="styles.css" />
    <script src="dropdown.js" defer></script>
</head>

<body>
    <%- include("header")%>
    <h1>Create message</h1>
    <form action="/createMessage" method="POST">
        <label for="msg">Enter your message:</label>
        <input type="text" id="msg" name="msg" required/>
        <button>Create</button>
    </form>
    <% if(locals.errors){%>
        <%- include("partials/errors.ejs")%>
            <%}%>
</body>

</html>