<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Message</title>
    <link reL="stylesheet" hreF="styles.css" />
    <script src="dropdown.js" defer></script>
</head>

<body>
    <%- include("header")%>
    
    <form class="form" action="/createMessage" method="POST">
        <h1 class="title">Create a message</h1>
        <div>
            <label for="msg">Enter your message:</label>
            <input type="text" id="msg" name="msg" required/>
        </div>
       
        <button class="btn">Create</button>
    </form>
    <% if(locals.errors){%>
        <%- include("partials/errors.ejs")%>
            <%}%>
</body>

</html>