<header class="header">
    <% if(currentUser){%>
        <div class="header-upper">
            <a class="main-title" href="/">Members Only</a>
            <div class="dropdown">
                <span class="dropdown-user dropdown-btn">
                    <%=currentUser.username%>
                </span>
               
                <div class="dropdown-content">
                    <a class="btn dropdown-btn" href="/">Homepage</a>
                    <% if(currentUser.status !== "Admin"){%>
                        <a class="btn dropdown-btn" href="/join-club">Join the club</a>
                    <%}%>
                    
                    <% if(currentUser.status !== "none" && currentUser.status !== "Admin"){%>
                         <a class="btn dropdown-btn" href="/become-admin">Become an admin</a>
                    <%}%>
                   
                    <a onClick="return confirm('Are you sure you want to log out?')" class="btn dropdown-btn" href="/log-out">Log out</a>
                </div>
            </div>
        </div>
        
        
        
    <%}else{%>
        <a class="main-title" href="/">Members Only</a>


    <%}%>
</header>