<header class="header">
    <% if(currentUser){%>
        <div class="header-upper">
            <h1>Members Only</h1>
            <div class="dropdown">
                <span class="dropdown-btn">
                    <%=currentUser.username%>
                </span>
               
                <div class="dropdown-content">
                    <a href="/">Homepage</a>
                    <a href="/join-club">Join the club</a>
                    <a href="/become-admin">Become an admin</a>
                </div>
            </div>
        </div>
        
        
        
    <%}else{%>
        <h1>Members Only</h1>
        <a href="/">Homepage</a>
        <a href="/sign-up">Sign up</a>
        <a href="/log-in">Login</a>
    <%}%>
</header>