<header class="header">
    <% if(currentUser){%>
        <div class="header-upper">
            <h1>Members Only</h1>
            <div class="dropdown">
                <span class="dropdown-btn">
                    <%=currentUser.username%>
                </span>
               
                <div class="dropdown-content">
                    <a class="btn dropdown-btn" href="/">Homepage</a>
                    <a class="btn dropdown-btn" href="/join-club">Join the club</a>
                    <a class="btn dropdown-btn" href="/become-admin">Become an admin</a>
                    <a onClick="return confirm('Are you sure you want to log out?')" class="btn dropdown-btn" href="/log-out">Log out</a>
                </div>
            </div>
        </div>
        
        
        
    <%}else{%>
        <h1>Members Only</h1>
        <a class="btn" href="/">Homepage</a>
        <a  class="btn" href="/sign-up">Sign up</a>
        <a  class="btn" href="/log-in">Login</a>
    <%}%>
</header>