<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join the club</title>
    <link reL="stylesheet" hreF="styles.css" />
    <script src="dropdown.js" defer></script>
</head>

<body>
    <%- include("header") %>
        <form class="form" action="/join-club" method="POST">
            <label for="code">What do you call a mistake in code? (The answer consists of three letters)</label>
            <input id="code" name="code" type="password" required/>
            <button class="btn">Join</button>
        </form>
        <% if(locals.error){%>
            <p class="error-msg">
                <%= error%>
            </p>
            <%}%>
</body>

</html>