<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/join-club" method="POST">
        <label for="code">What is 2 + 17?</label>
        <input id="code" name="code" type="password" />
        <button>Join</button>
    </form>
</body>

</html>