<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>please Log in</h1>
    <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <label for="confPassword">Confirm Password</label>
        <input type="password" id="confPassword" name="confPassword" />
        <button type="submit">Log in</button>
    </form>
</body>

</html>