<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link reL="stylesheet" hreF="styles.css" />
    <script src="dropdown.js" defer></script>
</head>

<body>
    <%- include("header")%>
   
    <form class="form" action="/log-in" method="POST">
        <h1>Please log in</h1>
        <div class="form-div">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />
        </div>
        <div class="form-div">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required />
        </div>
        <div class="form-div">
            <label for="confPassword">Confirm Password</label>
            <input type="password" id="confPassword" name="confPassword" required />
        </div>
        
       
      
        <button class="btn" type="submit">Log in</button>
    </form>
</body>

</html>