body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}

.header-upper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dropdown{
    position: relative;
    top: 2rem;
    
}

.dropdown-content{
    display: none;
    position: absolute;
    gap: 0.5rem;
    border: 2px solid;
    flex-direction: column;
    
    


}

.show{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    border: none;
    background-color: moccasin;
    border-radius: 2rem;
    padding: 0.5rem;
    width: 10rem;
    text-align: center;
}

.dropdown-btn{
    text-align: start;
    width: 8rem;
}

ul li{
    list-style-type: none;
}

.msg{
    border: 2px solid;
    border-radius: 2rem;
    padding: 1rem;
}